<meta charset="UTF-8">
<title>Bốc thăm trúng thưởng</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
    html,
    body {
        margin: 0;
        padding: 0;
    }

    .center {
        
        
    }

    .button {

        display: block;
        margin: 10px 0;
        padding: 10px;
        width: 100%;
       height: 430px;
        border-radius: 20px;
        font-size: 90pt;
        margin-top: 50px;
    }
</style>
<script>

    $(document).ready(function () {
        var socket = io("/");

        //client nhận dữ liệu từ server
        socket.on("Server-sent-data", function (data) {
            if (data === 'start' || data==='start1' || data==='start2') {
                
                $("#send").attr("disabled", true);
                $("#send").html('Đang chạy...');
                $("#send1").attr("disabled", true);
                $("#send1").html('Đang chạy...');
                $("#send2").attr("disabled", true);
                $("#send2").html('Đang chạy...');
                $("#send3").attr("disabled", true);
                $("#send3").html('Đang chạy...');
            }
        })
        socket.on("Server-sent-home-ready",function(data){
            if(data ==  "homeready"){
                $("#send").attr("disabled", false);
                $("#send").html('Giải thường');
                $("#send1").attr("disabled", false);
                $("#send1").html('Giải đặc biệt');
                $("#send2").attr("disabled", false);
                $("#send2").html('Giải nhất');
                $("#send3").attr("disabled", false);
                $("#send3").html('Giải nhì');
            }
        })
        $("#send").click(function () {

            socket.emit("Client-sent-data", "start");
        });
        $("#send1").click(function(){
            socket.emit("Client-sent-data", "start1");
        });
        $("#send2").click(function(){
            socket.emit("Client-sent-data", "start2");
        });
        $("#send3").click(function(){
            socket.emit("Client-sent-data", "start3");
        });
    })
</script>

<body>

    <div class="center">
        <button class="button btn btn-primary" id="send1">Giải đặc biệt</button>
        <button class="button btn btn-primary" id="send2">Giải nhất</button>
        <button class="button btn btn-primary" id="send3">Giải nhì</button>
        <button class="button btn btn-primary" id="send">Giải thường</button>
    </div>
</body>